body {
    font-family: sans-serif;
    padding: 5px;
}

h1 {
    color:white;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgba(22, 44, 142, 0.883);
    text-align: center;
    padding: 7px;
}

h2 {
    font-size: 28px;
    font-weight: bolder;
}

h3 {
    font-size: 22px;
    font-weight: bolder;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 12px;
}

#city-search,
#city-weather,
#city-forecast {
    padding: 10px;
}

.full-width-button {
    width: 100%;
    padding: 0.375rem 0.5rem; 
    margin-top: 5px;
}

#city-list {
    list-style: none;
}

#city-weather-shell,
#city-forecast-shell {
    padding: 10px;
}

#save-city-button,
#reset-city-list-button {
    width: 100%; 
    padding: 0.375rem 0.5rem; 
    margin-top: 5px;
}

.card {
    margin-right: 20px;
    background-color: rgb(218, 214, 214);
    padding: 10px;
    white-space: nowrap;
}